*{
    margin: 0;
    padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color:rgb(193, 75, 42) rgba(0, 0, 0, 0.904);
}
html::-webkit-scrollbar{
    width: 10px;
}
body{
    background-color: rgba(0, 0, 0, 0.904);
    color: bl;
}

#head{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1565300667498-2843c56b4603?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}
.container{
    width: 100%;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #302e2f;
    position: fixed;
    top: 0;
    width: 100%;
}
nav img{
    height: 30px;
    width: 90px;
    margin: 10px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 25px;
}
nav ul li a{
    color: rgb(193, 75, 42);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background:white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color:white ;
}

.maintext h3{
    
    font-size: 40px;
    margin-left: 50px;
    
}
.maintext h1{
    font-size: 60px;
    /* margin: 5px; */
    margin-left: 50px;
    width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(193, 75, 42);   
    
}
.maintext p{
    margin-top: 5px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
.homeimg img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 50px ;
    

}
.homeimg img:hover{
    box-shadow: 0 0 40px rgb(154, 54, 27) ;
}
.home{
    margin-top: 45px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    gap: 4em;
    
}

.icon{
    text-decoration: none;
    color: rgb(193, 75, 42) ;
    margin: 10px;
    font-size: 20px; 
}
.icon:nth-last-child(1){
    padding: 7px 40px;
    width: 170px;
    border-radius: 60px;
    border: 1px solid rgb(193, 75, 42) ;
    overflow: hidden;
}

.icon{
    margin-top:30px;
    margin-left: 40px;
    transition: background 0.5s,transform 0.5s;
}
.icon:hover{
    background: rgb(211, 106, 77);
    color: white ;
    box-shadow: 0 0 20px rgb(193, 75, 42);
    transform: translateY(-5px);
}
.col1 img{
    margin-top: 30px;
    margin-left: 30px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 30px;
    box-shadow: 0 0 60px grey;
   
}
.col1 img:hover{
    box-shadow: 0 0 30px  rgb(211, 106, 77) ;
}

.sec2{
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.row{
    display: flex;
    gap: 150px;
   
}
.col2{
    width: 600px; 
}
.heading{
    margin-top: 40px;
    font-size: 40px;
    font-weight: 150px;
    color: white;
}
span{
    color:rgb(193, 75, 42) ;
}
hr.line{
    border: 1px  solid rgb(122, 41, 19);
}

.col2{
    color:white;
   font-family: 'Courier New', Courier, monospace;
}

#skills{
    background-image:url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
}
.title span{
    color: black;
}
.title{
    color: rgb(193, 75, 42);
    padding: 20px;
    margin-left: 500px;
}
.sklist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
   
}
.sklist div{
    background-color:#2f2f2f4e ;
    padding: 40px;
    font-size: 13px;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right:10px ;
    transition: background 1s,transform 0.5s;
}
.sklist div i{
    font-size: 30px;
    margin-bottom: 5px ;
}
.sklist div h3{
    font-size: 20px;

}
.sklist div:hover{
    background: linear-gradient(rgb(255, 255, 255),rgb(193, 75, 42)) ;
    overflow: hidden;
    transform: translateY(-10px);

}
/* #project{
    background-image:url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
}
.prj{
    color: rgb(193, 75, 42);
    padding: 20px;
    margin-left: 500px;
}
.prj span{
    color: black;
} */
#contact{
    color: white;
    
}
.vert{
    display: flex;
}
.left{
    flex-basis: 40%;
}
.right{
    flex-basis: 60%;
}
.left h1{
    margin-top: 40px;
    margin-left: 30px;
}
.left p{
    margin-top: 50px;
    margin-left: 80px;
    font-size: 20px;
}
.sub span{
    color:rgb(193, 75, 42) ;
    padding: 10px;
}
.left p span{
    padding: 5px;
}
.icons{
    margin-left:80px;
    margin-top: 30px;
}
.icons a{
    margin-left: 10px;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    color: rgb(193, 75, 42) ;
    transition: transform 0.2s;
}
.icons a:hover{
   color: beige;
   transform: translateY(-5px);
}
.icon.btn2 {
    display: inline-block;
    width: 170px;
    margin-left: 80px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;

}
.right form{
    width: 100%;
    margin-top: 30px;
   
}

form input,form textarea{
    border: 0;
    width: 70%;
    outline:none;
    background: whitesmoke;
     padding: 15px;
     margin: 15px 0;
     color: black;
     font-size: 15px;
     border-radius: 5px;
}
 form.btn3{
    padding: 10px;
    margin-top: 10px;
    margin-left: 170px;
    margin-bottom: 30px;
   cursor: pointer;
 }
 .copyright p{
  background-color:rgb(196, 193, 193);
   height: 60px;
   text-align: center;
   font-size: 15px;
   margin-top: 10px;
   padding: 20px;
   width: 100%;


 }
 .copyright i{
    color:rgb(193, 75, 42) ;
 }
 #msg{
    color: aqua;
    margin-left: 148px;
    font-size: 15x;
    margin-top: -20x;
    display: block;
 }
 @media(max-width:600px){
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    #head{
        width: 100vw;
        height: 100vh;

    }
    nav{
        width: 100vw;
        height: 9vh;
       display: flex;
    }
    nav ul li{
        margin: 0 0 0 0;
       
          
    }
    nav ul li a{
        font-size: 0.8em;
        padding-right: 0.6em;
    }
    nav img{
        width: 60px ;
        height: 20px;
    }
    .maintext h3{
        font-size: 1.7em; 
        margin-left: 1em;
        display: flex;
    }
  
    .maintext h1{
        font-size: 40px;
        margin-left: 0.7em;
    }
    .maintext p{
        font-size: 0.7em;
        margin-left: 2em;
        display: flex;
    }
    .homeimg img{
        height: 18vh;
        width:37vw ;
        display: flex;
        margin-left: -10em;
        margin-top: -10em;
    }
    .row{
        display: flex;
        gap: 2em;
    }
    .col1 img{
        width:6em ;
        height: 8em;
        margin: 20vh 0 0 0;
    }
    .col2{
        margin-right: 10vw;
    }
    
    .col2 h1{
       font-size: 1em;
    }
    .col2 p{
        font-size: 0.5em;
    }
    #skills {
        width: 100vw;
    }
    .sec3 h1{
        margin-left: 4.5em;
    }
    .sklist{
        width: 1em ;
        margin-left: 4em;
    }
    .left h1{
        font-size: 0.8rem;
        margin-left: 1em;
        margin-top: 5em;
    }
    .left p{
        font-size: 0.5rem;
        margin-left: 2em;
        margin-top: 3em;
    }
    .icons{
        margin-left: 1em;
    }
    .icons a{
        font-size: 1em;
        display: flex;
        padding: 0.5rem;
        
    }
    .icon.btn2 {
        width: 2em;
        height: 2em;
        font-size: 0.5rem;
        margin-top: 7rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
       

    }
    .right{
        margin-left: 2rem;
    }
    .right form{
        width: 100vw;
    
    }
    form input,form textarea{
        width: 50vw;
        font-size: 0.5rem;
    }
    .icon.btn3{
        width: 1rem;
        height: 2rem;
        display: flex;
        font-size: 0.7em;
        align-items: center;
        justify-content: center;
        
    }

  

 }