*{
    margin: 0;
    padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: bl;
}
#head{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1565300667498-2843c56b4603?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}
.container{
    width: 100%;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #302e2f;
   
    position: fixed;
    top: 0;
    width: 100%;
}
nav img{
    height: 30px;
    width: 90px;
    margin: 10px;
    
}
.logo{
    width: 150px;
    color: white;
    text-decoration: none;
    margin: 30px;
    

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 25px;
}
nav ul li a{
    color: rgb(193, 75, 42);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background:white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color:white ;
}

.maintext h3{
    
    font-size: 40px;
    margin-left: 50px;
    
}
.maintext h1{
    font-size: 60px;
    /* margin: 5px; */
    margin-left: 50px;
    width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(193, 75, 42);   
    
}
.maintext p{
    margin-top: 5px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
.homeimg img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 50px ;
    

}
.homeimg img:hover{
    box-shadow: 0 0 40px rgb(154, 54, 27) ;
}
.home{
    margin-top: 45px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    gap: 4em;
    
}
/* .ic{
    margin-left:50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(193, 75, 42);
     border-radius: 50%;
     font-size: 20px;
     color: rgb(193, 75, 42);
     text-decoration: none;
     margin: 30px 15px 30px 50px;
} */
.res{
    text-decoration: none;
    color: rgb(193, 75, 42) ;
    margin: 10px;
    font-size: 20px; 
}
.res:nth-last-child(1){
    padding: 8px 19px;
    border-radius: 60px;
    border: 1px solid rgb(193, 75, 42) ;
    overflow: hidden;
}

.icon{
    margin-top:30px;
    margin-left: 40px;
}
.icon a:hover{
    background: rgb(211, 106, 77);
    color: white ;
    box-shadow: 0 0 20px rgb(193, 75, 42);
}
.col1 img{
    margin-top: 30px;
    margin-left: 30px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 30px;
    box-shadow: 0 0 60px grey;
   
}
.col1 img:hover{
    box-shadow: 0 0 30px  rgb(211, 106, 77) ;
}
#about {
    background-image:url(
  );
    
}
.sec2{
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.row{
    display: flex;
    gap: 150px;
   
}
.col2{
    width: 600px; 
}
.heading{
    margin-top: 40px;
    font-size: 40px;
    font-weight: 150px;
    color: white;
}
span{
    color:rgb(193, 75, 42) ;
}
hr.line{
    border: 1px  solid rgb(122, 41, 19);
}

.col2{
    color:white;
   font-family: 'Courier New', Courier, monospace;
}

.skills{
    background-image:url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
}
.title span{
    color: black;
}
.title{
    color: rgb(193, 75, 42);
    padding: 20px;
}
.sklist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
   
}
.sklist div{
    background-color:#2f2f2f4e ;
    padding: 40px;
    font-size: 13px;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right:10px ;
    transition: background 1s,transform 0.5s;
}
.sklist div i{
    font-size: 30px;
    margin-bottom: 5px ;
}
.sklist div h3{
    font-size: 20px;

}
.sklist div:hover{
    background: linear-gradient(rgb(255, 255, 255),rgb(193, 75, 42)) ;
    overflow: hidden;
    transform: translateY(-10px);

}
.contact{
    color: white;
}

